body {
}
article {
  display: flex;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

tr {
  top-margin: 10px;
}

article div h4 {
  margin: 3.7px 0;
}
article div {
  position: relative;
  top: 24px;
}

td {
  text-align: center;
}

form {
  position: relative;
  top: 40px;
}

hr {
  margin-top: 20px;
}

fieldset {
  display: inline;
  margin: auto;
  width: 55%;
}

button {
  width: 40%;
  height: 30px;
  margin-top: 15px;
  margin: 15px auto;
}

h2 {
  text-align: center;
}
